@model WebApp.Models.TownViewModels.TownBuildingsViewModel

@{
    ViewBag.Title = "Build";
}


<br />
<h2>Available buildings</h2>

<table class="table">

    @foreach (var item in Model.BuildingsList)
    {
        <tr>
            <td>
                @Html.Encode(item.Name)
            </td>
            <td>
                @Html.ActionLink("Build", "Create")
            </td>
        </tr>
    }

</table>
<div>
    <br />
    <input type="button" class="btn btn-primary" value="Back to my town" onclick="location.href = '@Url.Action("Index", "Town")'" />
</div>
