@model WebApp.Models.Buildings.Buildings

@{
    ViewBag.Title = "Buildings";
}

<table class="table">
    <tr>
        <th></th>
    </tr>

@foreach (var item in Model.BuildingsList) {

    <tr>
        <td>
            @Html.Encode(item.Name)
        </td>
        <td></td>
        <td>
            Level: @Html.Encode(item.Level)
        </td>
    </tr>
}
    <tr>
        <td>
            @Html.ActionLink("Build new building", "Build")
        </td>
    </tr>
</table>
