@model Domain.Town

@{
    ViewBag.Title = "Index";
}


<h2>
    @Html.DisplayFor(model => model.Name)
</h2>

<div>
    <div>
        <p>@Html.DisplayNameFor(model => model.Level): @Html.DisplayFor(model => model.Level) </p>
    </div>
    <br />

    <div>
        <h4>Buildings</h4>

        @{Html.RenderAction("Buildings");}
    </div>
</div>
