@model WebApp.Models.Town

@{
    ViewBag.Title = "Index";
}

<h2>
    @Html.DisplayFor(model => model.Name)
</h2>

<div>
    <div>
        <h4>@Html.DisplayNameFor(model => model.Level): @Html.DisplayFor(model => model.Level) </h4>
    </div>
    <br />

    <div>
        <h3>Buildings</h3>

        @{ Html.RenderAction("ProductionBuildings");}
        @{ Html.RenderAction("StorageBuildings");}
    </div>
    <br />
    <div>
        <a href="town/build" class="btn btn-primary">New building</a>
    </div>
    <br />
    <div>
        <h3>Items</h3>
        @{ Html.RenderAction("Items"); }
    </div>
</div>
