
@{
    ViewBag.Title = "Index";
}
<br />
<div>
    
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body text-center">
                    <div class="row">
                        <div class="col">
                            <img class="rounded-circle" src="~/Content/img/town.jpg" alt="Generic placeholder image" width="200" height="200" />
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col">
                            <a href="/town" class="btn btn-primary">Moj grad</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body text-center">
                    <div class="row">
                        <div class="col">
                            <img class="rounded-circle" src="~/Content/img/market.jpg" alt="Generic placeholder image" width="200" height="200" />
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col">
                            <a href="/marketplace" class="btn btn-primary">Trgovina</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

